*{
    margin: 0;
    padding: 0;
    
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7)),;
    background-size: cover;
    background-position: center;
}